<% if @ranking.present? %>
  <% if @ranking.errors.any? %>
    <% @ranking.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new ranking
</h1>


<hr>

<form action="/create_ranking" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="destination_id">
      Destination
    </label>

    <%= select_tag(:destination_id, options_from_collection_for_select(Destination.all, :id, :city, @ranking.destination_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="rankings">
      Rankings
    </label>

    <input type="text" id="rankings" name="rankings" class="form-control" value="<%= @ranking.rankings %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create ranking
  </button>
</form>

<hr>

<a href="/rankings">
  Go back
</a>
