<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Friend Groups

    <a data-toggle="collapse" href="#friend_request_friend_groups_new_form">
      Add friend group
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @friend_request.friend_groups.each do |friend_group| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/friend_groups/<%= friend_group.id %>">
          <%= friend_group.friend_request_id %>
        </a>

        <a href="/delete_friend_group_from_friend_request/<%= friend_group.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="friend_request_friend_groups_new_form">
        <%= render partial: "friend_request_templates/friend_request_friend_groups_new_form" %>
      </div>
    </div>

  </ul>
</div>
