<form action="/create_friend_group_from_friend_request" method="post">

  <input type="hidden" name="friend_request_id" value="<%= @friend_request.id %>">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @friend_group.name %>">
  </div>

  <div class="form-group">
    <label for="destination_id">
      Destination
    </label>

    <%= select_tag(:destination_id, options_from_collection_for_select(Destination.all, :id, :city, @friend_group.destination_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create friend group
  </button>
</form>
