<h1>
  Add a new friend request
</h1>


<hr>

<!-- Form friend_request start -->
<form action="/create_friend_request" method="post">
<!-- Form friend_request end -->

  <!-- Label and input for receipient_id start -->
  <div class="form-group">
    <label for="receipient_id">
      Receipient
    </label>

    <!-- Input for receipient_id start -->
    <%= select_tag(:receipient_id, options_from_collection_for_select(User.all, :id, :username, @friend_request.receipient_id), :class => "form-control") %>
    <!-- Input for receipient_id end -->
  </div>
  <!-- Label and input for receipient_id end -->

  <!-- Label and input for sender_id start -->
  <div class="form-group">
    <label for="sender_id">
      Sender
    </label>

    <!-- Input for sender_id start -->
    <%= select_tag(:sender_id, options_from_collection_for_select(User.all, :id, :username, @friend_request.sender_id), :class => "form-control") %>
    <!-- Input for sender_id end -->
  </div>
  <!-- Label and input for sender_id end -->

  <!-- Label and input for status start -->
  <div class="form-group">
    <label for="status">
      Status
    </label>

    <!-- Input for status start -->
    <input type="text" id="status" name="status" class="form-control">
    <!-- Input for status end -->
  </div>
  <!-- Label and input for status end -->

  <button class="btn btn-block btn-outline-secondary">
    Create friend request
  </button>
</form>

<hr>

<a href="/friend_requests">
  Go back
</a>
