<form action="/create_ranking_from_destination" method="post">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="destination_id" value="<%= @destination.id %>">

  <div class="form-group">
    <label for="rankings">
      Rankings
    </label>

    <input type="text" id="rankings" name="rankings" class="form-control" value="<%= @ranking.rankings %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create ranking
  </button>
</form>
