<h1>
  Edit destination #<%= @destination.id %>
</h1>

<hr>

<form action="/update_destination/<%= @destination.id %>" method="post">

  <div class="form-group">
    <label for="city">
      City
    </label>

    <input type="text" id="city" name="city" class="form-control" value="<%= @destination.city %>">
  </div>

  <div class="form-group">
    <label for="country">
      Country
    </label>

    <input type="text" id="country" name="country" class="form-control" value="<%= @destination.country %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update destination
  </button>
</form>

<hr>

<a href="/destinations">
  Go back
</a>
